@use 'fonts';
@use 'reset';

body {
	font-family: 'Montserrat', sans-serif;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}
